#svelte-timeseries {
	display: flex;
	height: 100%;
	overflow: hidden;
}

#svelte-timeseries > div:first-child {
	display: flex;
	flex-direction: column;
	width: 16.666667%;
	min-width: 200px;
	gap: 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
}

#svelte-timeseries > div:last-child {
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
}
#svelte-timeseries .sts-details {
	min-height: 3.6rem;
	max-height: 100%;
	background-color: initial;
	overflow: auto;
}

#svelte-timeseries .sts-details ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#svelte-timeseries .sts-details li {
	display: flex;
	justify-content: space-between;
	padding: 0.35rem;
}
#svelte-timeseries .sts-details li div {
	font-size: 0.8rem;
	text-align: start;
	display: flex;
	gap: 1em;
	align-items: center;
}

#svelte-timeseries .sts-details input[type='checkbox'] {
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}

#svelte-timeseries .sts-details > summary {
	cursor: pointer;
	font-weight: 600;
	padding: 0.5rem 0;
}

#svelte-timeseries .sts-details li:hover {
	background: #f3f4f6;
}
#svelte-timeseries .sts-details li button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0.3rem;
	border-radius: 0.3rem;

	font-weight: 600;
	font-size: 0.7rem;
	line-height: 1.25rem;

	background-color: #3b82f6;
	color: white;

	cursor: pointer;
	transition: 0.15s ease-in-out;
	border: none;
}

/* hover */
#svelte-timeseries .sts-details li button:hover {
	background-color: #2563eb;
}

/* active */
#svelte-timeseries .sts-details li button:active {
	transform: scale(0.97);
}

#svelte-timeseries .sts-loading {
	position: absolute;
	bottom: 1rem;
	width: 100%;
	z-index: 10;

	font-size: 0.875rem;
	line-height: 1.25rem;

	pointer-events: none;
}

#svelte-timeseries .sts-loading > div {
	width: 32rem;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #d1d5db;
	z-index: 10;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 1rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
