name: Publish Monorepo to npmjs.com

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: pnpm
          registry-url: "https://registry.npmjs.org/"

      - name: Install Dependencies
        run: pnpm ci:install

      - name: Check typings in All Packages
        run: pnpm check
        
      #- name: Run Tests in All Packages
      #  run: pnpm test

      - name: Format All Packages
        run: pnpm format

      - name: Publish Packages to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm run publish
