name: Publish Monorepo to npmjs.com

on:
  push:
    tags:
      - "v*.*.*"
jobs:
  publish:
    # prevents this action from running on forks
    if: github.repository == 'qtsurfer/svelte-timeseries'
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create release (changesets/action)
      id-token: write # OpenID Connect token needed for provenance
      pull-requests: write # to create pull request (changesets/action)
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: pnpm
          registry-url: "https://registry.npmjs.org/"

      - name: Install Dependencies
        run: pnpm ci:install

      - name: Run build
        run: pnpm build

      - name: Check typings in All Packages
        run: pnpm check

      #- name: Run Tests in All Packages
      #  run: pnpm test

      #- name: Publish Packages to npm
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   run: pnpm run publish --provenance

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm changeset:version
          publish: pnpm changeset:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
